.form:focus {
  border-color: #434854 !important;
}
.parentContainer {
  display: flex;
}

.noMargin-r {
  margin-right: 5px;
}

.noMargin-l {
  margin-left: 5px;
}

@media screen and (max-width: 650px) {
  .parentContainer {
    flex-direction: column;
  }
  .noMargin-r,
  .noMargin-l {
    margin: 0;
  }
}
