<section class="section" id="contact">
  <div class="container">
    <div class="row justify-content-center text-center">
      <div class="col-lg-12">
        <i class="ti-headphone-alt title-icon text-muted"></i>
        <h3 class="title">Get In <span class="fw-bold">Touch</span></h3>
        <p class="text-muted mt-3 title-subtitle mx-auto">
          You can add yourself as a contact by filling this form.
        </p>
      </div>
      <!-- Note :
   - You can modify the font style and form style to suit your website. 
   - Code lines with comments Do not remove this code are required for the form to work properly, make sure that you do not remove these lines of code. 
   - The Mandatory check script can modified as to suit your business needs. 
   - It is important that you test the modified form before going live.-->
      <div>
        <meta name="viewport" content="width=device-width, initial-scale=1.0" />
        <META HTTP-EQUIV="content-type" CONTENT="text/html;charset=UTF-8" />
        <form
          action="https://crm.zoho.com/crm/WebToContactForm"
          name="WebToContacts3214367000043104015"
          method="POST"
          onSubmit='javascript:document.charset="UTF-8"; return checkMandatory3214367000043104015()'
          accept-charset="UTF-8"
        >
          <input
            type="text"
            style="display: none"
            name="xnQsjsdp"
            value="392c30114201f9f33993d0bdce10419f82af4b84ca411dd67d2946265f93ca56"
          />
          <input type="hidden" name="zc_gad" id="zc_gad" value="" />
          <input
            type="text"
            style="display: none"
            name="xmIwtLD"
            value="46c15bbc09b6fbff90c44c82ac30da8d26f65745b6e45e1e779c39b6ababeccc"
          />
          <input
            type="text"
            style="display: none"
            name="actionType"
            value="Q29udGFjdHM="
          />
          <input
            type="text"
            style="display: none"
            name="returnURL"
            value="https&#x3a;&#x2f;&#x2f;adpl.com"
          />
          <!-- Do not remove this code. -->.
          <input
            type="text"
            style="display: none"
            id="ldeskuid"
            name="ldeskuid"
          />
          <input
            type="text"
            style="display: none"
            id="LDTuvid"
            name="LDTuvid"
          />
          <!-- Do not remove this code. -->

          <div class="col-lg-8" style="width: 100%">
            <div class="custom-form mt-4 pt-4">
              <div class="row">
                <div>
                  <div class="col-lg-12" style="display: flex">
                    <div style="flex: 1; margin-right: 5px">
                      <div class="form-group mt-2">
                        <label for="Last_Name">Full Name</label>
                      </div>
                      <input
                        type="text"
                        id="Last_Name"
                        #name
                        name="Last Name"
                        maxlength="80"
                        class="form-control"
                      />
                    </div>
                    <div style="flex: 1; margin-left: 5px">
                      <div class="form-group mt-2">
                        <label for="Email">Email</label>
                      </div>
                      <div>
                        <input
                          type="text"
                          ftype="email"
                          id="Email"
                          name="Email"
                          maxlength="100"
                          class="form-control"
                        />
                      </div>
                    </div>
                  </div>
                </div>
              </div>
              <div class="row">
                <div class="form-group mt-2">
                  <div>
                    <label for="Phone">Phone</label>
                  </div>
                  <div>
                    <input
                      type="text"
                      id="Phone"
                      name="Phone"
                      maxlength="50"
                      class="form-control"
                    />
                  </div>
                </div>
              </div>
              <div class="row">
                <div class="col-lg-12">
                  <div class="form-group mt-2">
                    <label for="CONTACTCF36">Message</label>
                  </div>
                  <div>
                    <textarea
                      id="CONTACTCF36"
                      name="CONTACTCF36"
                      class="form-control"
                      rows="4"
                    ></textarea>
                  </div>
                </div>
              </div>
              <div class="row">
                <div class="col-lg-12 text-right">
                  <div>
                    <input
                      type="submit"
                      id="formsubmit"
                      class="submitBnt btn btn-primary"
                      value="Submit"
                      title="Submit"
                    />
                  </div>
                </div>
              </div>
              <div class="zcwf_row" style="display: none">
                <div
                  class="zcwf_col_lab"
                  style="font-size: 12px; font-family: Arial"
                >
                  <label for="CONTACTCF37">Contact Owner QR-Site</label>
                </div>
                <div class="zcwf_col_fld">
                  <input
                    type="text"
                    id="CONTACTCF37"
                    name="CONTACTCF37"
                    maxlength="255"
                    [value]="email"
                  />
                  <div class="zcwf_col_help"></div>
                </div>
              </div>
            </div>
          </div>

          <script>
            function validateEmail3214367000043104015() {
              var form = document.forms["WebToContacts3214367000043104015"];
              var emailFld = form.querySelectorAll("[ftype=email]");
              var i;
              for (i = 0; i < emailFld.length; i++) {
                var emailVal = emailFld[i].value;
                if (emailVal.replace(/^\s+|\s+$/g, "").length != 0) {
                  var atpos = emailVal.indexOf("@");
                  var dotpos = emailVal.lastIndexOf(".");
                  if (
                    atpos < 1 ||
                    dotpos < atpos + 2 ||
                    dotpos + 2 >= emailVal.length
                  ) {
                    alert("Please enter a valid email address. ");
                    emailFld[i].focus();
                    return false;
                  }
                }
              }
              return true;
            }

            function checkMandatory3214367000043104015() {
              var mndFileds = new Array("Last Name");
              var fldLangVal = new Array("Last\x20Name");
              for (i = 0; i < mndFileds.length; i++) {
                var fieldObj =
                  document.forms["WebToContacts3214367000043104015"][
                    mndFileds[i]
                  ];
                if (fieldObj) {
                  if (fieldObj.value.replace(/^\s+|\s+$/g, "").length == 0) {
                    if (fieldObj.type == "file") {
                      alert("Please select a file to upload.");
                      fieldObj.focus();
                      return false;
                    }
                    alert(fldLangVal[i] + " cannot be empty");
                    fieldObj.focus();
                    return false;
                  } else if (fieldObj.nodeName == "SELECT") {
                    if (
                      fieldObj.options[fieldObj.selectedIndex].value == "-None-"
                    ) {
                      alert(fldLangVal[i] + " cannot be none");
                      fieldObj.focus();
                      return false;
                    }
                  } else if (fieldObj.type == "checkbox") {
                    if (fieldObj.checked == false) {
                      alert("Please accept  " + fldLangVal[i]);
                      fieldObj.focus();
                      return false;
                    }
                  }
                  try {
                    if (fieldObj.name == "Last Name") {
                      name = fieldObj.value;
                    }
                  } catch (e) {}
                }
              }
              trackVisitor3214367000043104015();
              if (!validateEmail3214367000043104015()) {
                return false;
              }
              document
                .querySelector(".crmWebToEntityForm .formsubmit")
                .setAttribute("disabled", true);
            }

            function tooltipShow3214367000043104015(el) {
              var tooltip = el.nextElementSibling;
              var tooltipDisplay = tooltip.style.display;
              if (tooltipDisplay == "none") {
                var allTooltip =
                  document.getElementsByClassName("zcwf_tooltip_over");
                for (i = 0; i < allTooltip.length; i++) {
                  allTooltip[i].style.display = "none";
                }
                tooltip.style.display = "block";
              } else {
                tooltip.style.display = "none";
              }
            }
          </script>
          <script type="text/javascript" id="VisitorTracking">
            var $zoho = $zoho || {};
            $zoho.salesiq = $zoho.salesiq || {
              widgetcode:
                "492c1a2f85345620af99d374e33ba1c9195181770aa31b1c347fc609843fa6994ef1824b6964aa1201fff5ae13f4c45b",
              values: {},
              ready: function () {},
            };
            var d = document;
            s = d.createElement("script");
            s.type = "text/javascript";
            s.id = "zsiqscript";
            s.defer = true;
            s.src = "https://salesiq.zoho.com/widget";
            t = d.getElementsByTagName("script")[0];
            t.parentNode.insertBefore(s, t);
            function trackVisitor3214367000043104015() {
              try {
                if ($zoho) {
                  var LDTuvidObj =
                    document.forms["WebToContacts3214367000043104015"][
                      "LDTuvid"
                    ];
                  if (LDTuvidObj) {
                    LDTuvidObj.value = $zoho.salesiq.visitor.uniqueid();
                  }
                  var firstnameObj =
                    document.forms["WebToContacts3214367000043104015"][
                      "First Name"
                    ];
                  if (firstnameObj) {
                    name = firstnameObj.value + " " + name;
                  }
                  $zoho.salesiq.visitor.name(name);
                  var emailObj =
                    document.forms["WebToContacts3214367000043104015"]["Email"];
                  if (emailObj) {
                    email = emailObj.value;
                    $zoho.salesiq.visitor.email(email);
                  }
                }
              } catch (e) {}
            }
          </script>
          <!-- Do not remove this --- Analytics Tracking code starts -->
          <script
            id="wf_anal"
            src="https://crm.zohopublic.com/crm/WebFormAnalyticsServeServlet?rid=46c15bbc09b6fbff90c44c82ac30da8d26f65745b6e45e1e779c39b6ababecccgid392c30114201f9f33993d0bdce10419f82af4b84ca411dd67d2946265f93ca56gid5cf99212d7958dbcd176c761c6ce0a4d7e43e277bdc5d8b9c12010015418942cgid14f4ec16431e0686150daa43f3210513&tw=61690b96c1d0471b638f31426f38e68aa67fb7ed6da86f32dc10ad817fe55a0a"
          ></script>
          <!-- Do not remove this --- Analytics Tracking code ends. -->
        </form>
      </div>
    </div>
  </div>
</section>
