<section class="bg-home" id="head" style="position: relative">
  <div class="home-center">
    <div class="home-desc-center">
      <div class="logo">
        <h1 class="adpl">ADPL LLP</h1>
        <h4 class="adpl">Business Advisers</h4>
        <h4 class="adpl italic">Global Business Partner</h4>
      </div>
      <div class="container">
        <div class="row justify-content-center grid-container">
          <div class="mb-4" *ngFor="let office of offices; let i = index">
            <mat-card
              class="example-card max-h"
              style="padding-left: 25px; padding-right: 25px ; padding-bottom: 25px;"
              (click)="openDetails(office)"
            >
              <mat-card-title-group>
                <mat-card-title>{{ office?.name }}</mat-card-title>
                <mat-card-subtitle class="min-h">{{ office?.name2 }}</mat-card-subtitle>
                <mat-card-subtitle>{{ office?.phone }}</mat-card-subtitle>
                <!-- <img
                  style="height: 90px; width: 90px"
                  mat-card-sm-image
                  alt="main-img"
                  [src]="office?.mainImage"
                /> -->
              </mat-card-title-group>
              <mat-card-content style="font-weight: 500">
                {{ office?.address }}
              </mat-card-content>
            </mat-card>
          </div>
          <div class="mb-4">
            <a href="https://adplmeta.com/home">
              <mat-card
                class="example-card max-h"
                style="padding-left: 25px; padding-right: 25px ; padding-bottom: 25px;"
              >
                <mat-card-title-group>
                  <mat-card-title>ADPL META</mat-card-title>
                  <mat-card-subtitle
                    >Metaverse Digital Consultancy
                  </mat-card-subtitle>
                  <mat-card-subtitle>Virtual Reality</mat-card-subtitle>
                  <!-- <img
                style="height: 90px; width: 90px"
                mat-card-sm-image
                alt="main-img"
                [src]="office?.mainImage"
              /> -->
                </mat-card-title-group>
                <mat-card-content style="margin-top: 8px; font-weight: 500">
                  Visit www.adplmeta.com
                </mat-card-content>
              </mat-card>
            </a>
          </div>
        </div>
      </div>
      <div class="button flex">
        <ul class="text-white list-inline team-social mt-1 mb-0">
          <li class="list-inline-item">
            <a href="https://www.facebook.com/ADPLLLP/" target="_blank"
              ><i class="ti-facebook white"></i
            ></a>
          </li>
          <li class="list-inline-item">
            <a href="https://www.instagram.com/adplllp/" target="_blank"
              ><i class="ti-instagram white"></i
            ></a>
          </li>
          <li class="list-inline-item">
            <a href="https://twitter.com/Accounting_dp" target="_blank"
              ><i class="ti-twitter-alt white"></i
            ></a>
          </li>
          <li class="list-inline-item">
            <a
              href="https://www.linkedin.com/company/adplllp/mycompany/"
              target="_blank"
              ><i class="ti-linkedin white"></i
            ></a>
          </li>
          <li class="list-inline-item">
            <a
              href="https://wa.me/447553077888/?text=urlencodedtext"
              target="_blank"
              ><i class="ti-comments white"></i
            ></a>
          </li>
        </ul>
      </div>
    </div>
  </div>
</section>
