<!-- STRAT NAVBAR -->
<nav
  class="navbar navbar-expand-lg fixed-top navbar-custom sticky sticky-dark"
  id="navbar"
  (window:scroll)="windowScroll()"
>
  <div class="container">
    <a class="navbar-brand" href="#">ADPL</a>

    <div>
      <ul class="text-right list-unstyled list-inline mb-0">
        <li class="list-inline-item text-white nav-number">
          <i class="ti-mobile"></i> &nbsp;<span>+90 533 853 7204</span>
        </li>
      </ul>
    </div>
  </div>
</nav>
<!-- END NAVBAR -->
<div
 
>
  <!-- START HOME -->
  <section class="bg-home vh-100" id="home">
    <div class="home-center">
      <div class="home-desc-center">
        <div class="container">
          <div class="row justify-content-center">
            <div class="col-lg-10">
              <div style="margin-bottom: 1.5rem">
                <img
                  src="assets/images/team/team-2.png"
                  alt=""
                  class="img-fluid rounded-circle mx-auto d-block"
                />
              </div>

              <div class="text-center">
                <h1 class="text-white home-title mb-0">Sami Habbaba</h1>
                <p
                  class="text-muted home-subtitle-center home-subtitle mt-4 mb-0 mx-auto"
                >
                  Full stack developer at ADPL LLP.
                </p>
                <div class="">
                  <ul class="list-inline team-social mt-4 mb-0">
                    <li class="list-inline-item">
                      <a href="#"><i class="ti-facebook"></i></a>
                    </li>
                    <li class="list-inline-item">
                      <a href="#"><i class="ti-instagram"></i></a>
                    </li>
                    <li class="list-inline-item">
                      <a href="#"><i class="ti-twitter-alt"></i></a>
                    </li>
                    <li class="list-inline-item">
                      <a href="#"><i class="ti-linkedin"></i></a>
                    </li>
                  </ul>
                </div>
                <div class="mt-4">
                  <a href="#" class="btn btn-outline-white btn-round"
                    >Add Contact</a
                  >
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>
  <!-- END HOME -->

  <app-contact></app-contact>
  <!-- <app-switcher></app-switcher> -->
</div>
